<!--
* Name: Alex Oladele
* Date: 1/17/17
* Course: CSE 270e
* Assignment: Timer v2.0
-->

<head>
    <script src="../public/js/registerForm.js"></script>
    <link href="../public/css/loginForm.css" rel="stylesheet">
</head>

<!--<br>-->
<h2>Register For Timer</h2>
{{#if errormsg}}
    <div class="alert alert-danger"><strong>Error:</strong> {{errormsg}} </div> {{/if}}

<br>
<form role="form" method="post" id="loginForm">
    <div class="container">
        <br>
        <label for="username"><b>Username</b></label>

        {{#if userid}}
            <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username"
                   value={{userid}} required>
        {{else}}
            <input type="text" class="form-control" placeholder="Enter Username" name="username" id="username" required>
        {{/if}}


        <label for="password"><b>Password</b></label>

        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>

        <label for="password-again"><b>Re-enter Password</b></label>

        <input type="password" class="form-control" placeholder="Re-enter Password" name="password-again" id="password2"
               required>

        <label for="email"><b>Email</b></label>

        <!--TODO  Change email input type back to 'email'-->
        <input type="text" class="form-control" placeholder="Enter email" name="email" id="email">

        <button id="loginBtn" type="submit">Register</button>
    </div>
</form>
<br>